@font-face {
    font-family: quicksand;
    src: url(../fonts/Quicksand.ttf);
}

@font-face {
    font-family: berkshire;
    src: url(../fonts/BerkshireSwash.ttf);
}

@font-face {
    font-family: quicksand-Medium;
    src: url(../fonts/Quicksand-Medium.ttf);
}

@font-face {
    font-family: brands;
    src: url(../fonts/fa-brands-400.ttf);
}

* {
    box-sizing: border-box;
}

body {
    background: #E6DECD;
    background: linear-gradient(to bottom, #ecede1 0%, #c0cea1 50%, #405553 100%);
    /* background-color: #cccccc; */
    margin: 0;
    font-family: quicksand, helvetica, sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
}

input[type=color] {
    width: 0px;
    height: 0px;
    opacity: 0;
}

/* Display */

.flex {
    display: flex;
}

.f-align-center {
    align-items: center;
}

.f-justify {
    justify-content: center;
}

.f-space {
    justify-content: space-around;
}

.f-column {
    flex-direction: column;
}

.f-row {
    flex-direction: row;
}

.f-wrap {
    flex-wrap: wrap;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.img-size img {
    height: 24px;
    width: 24px;
}

.btn-round {
    padding: 0.3em 0.5em;
    border-radius: 1em;
    font-family: quicksand, helvetica, sans-serif;
    font-size: 1.7rem;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
}

.btn-round:hover:not([type=file]) {
    box-shadow: 0 0 5px white;
    filter: contrast(140%);
    transition: .3s;

}

.img-hover {
    filter: saturate(50%);

}

.img-hover:hover {
    box-shadow: 0px 0px 9px 2px #000000;
    transition: .3s ease;
    filter: brightness(105%);
    filter: saturate(100%);

}

.btn-fonts {
    background-color: rgb(231, 237, 237);
}

.btn-direct {
    background-color: rgb(202, 211, 211);
}

.btn-line {
    background-color: rgb(199, 204, 204);
}

.btn-act {
    background-color: rgb(193, 213, 226);
}

/* Components */

/* Modal */

.saved-memes-modal {
    background-color: #f4f3dfd9;
    border: 4px double #B7AEB4;
    width: 80vh;
    border-radius: 1em;
    height: 70vh;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -35vh;
    margin-left: -40vw;
    opacity: 0;
    /* Why aint transition working..? */
    transition: opacity .5s, visibility .5s;
}


.saved-memes-container {
    border: 1px solid black;
    height: 70%;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 200px;
    gap: 1em;
    overflow-y: scroll;
    padding: 2em 2em;
    margin: auto;

}

.saved-memes-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.75em;
}

.meme-clicked {
    border: 5px solid white;
}

.screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0 / 65%);
}

/* Header */

header {
    padding: 2em 0;
    flex-direction: column;
}

header h1 {
    font-family: berkshire, sans-serif;
    font-size: 2.25em;
    margin-inline-end: 5em;
}

.logo {
    position: relative;
    color: rgb(68, 72, 131);
    letter-spacing: 1.5px;
}

.logo:hover {
    text-shadow: -5px 0px 2px #b6d3e9;
}


.fa {
    font-family: brands;
}

.fa-meteor::after {
    /* TO CHECK */
    /* content: "haha"; */
    content: "\f753";
    position: absolute;
    left: 7.5em;
}

nav li {
    padding-inline-end: 4em;
    cursor: default;
    font-size: 1.75em;
    border-bottom: 4px transparent;
}

nav li:hover {
    color: rgb(78, 134, 113);
    cursor: pointer;
    border-bottom: 4px solid white;
}

/* Image Editor */

.meme-editor-container {
    display: none;
}

.meme-editor-container .container {
    background-color: #bdbebe69;
    border: 1px solid rgb(148, 148, 148);
    padding: 2em 2em;
}

.canvas-container {
    background-color: rgb(124, 124, 124);
    margin: 0 2em;
    width: 500px;
    height: 500px;
    border: 1px solid rgb(228, 228, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid rgb(228, 228, 231);
}

.editor-controllers * {
    margin: 0.25em 0em
}

.font-size-selectors select,
.text input {
    padding: 0.25em 0.25em;
    font-size: 1em;
}

.text [type=text] {
    width: 12.5em;
}

.font-size-selectors select [value=impact] {
    font-family: impact;
    /* display: none; */
}

.font-size-selectors select [value=cursive] {
    font-family: cursive;
}

/* Image Gallery */

.upload-img {
    background-color: #bdbebe69;
    border: 1px solid rgb(148, 148, 148);
    padding: 0.5em 2em;
}

.image-gallery {
    margin: 2em 0em;
}

.gallery-container {
    background-color: #bdbebe69;
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 200px;
    gap: 1em;
    padding: 2em 3em;
    overflow-y: scroll;
    /* overflow-x: hidden; */
    /* justify-items: center; */
    /* align-items: center; */
    margin-top: 2em;
    border: 1px solid rgb(148, 148, 148);
}

.gallery-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.75em;
}

.keywords li {
    padding-inline-end: 0.5em;
    font-size: 1.5em;

}

.keywords li:hover {
    font-weight: bolder;
    cursor: pointer;
}

.actions-selectors a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 600px) {
    .gallery-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 250px;
        gap: 2em;
        padding: 2em 6em;
    }
}

@media (min-width: 950px) {

    header {
        flex-direction: row;
    }

    .container {
        max-width: 1100px;
        margin: auto;
    }

    .meme-editor-container .container {
        flex-direction: row;
    }

    .meme-editor-container .container {
        padding: 2em 6em;
    }

    .btn-round {
        padding: 0.25em 0.75em;
        font-size: 0.95rem;

    }

    .gallery-container {
        /* height: 50vh; */
        /* width: 100%; */
        /* grid-template-columns: repeat(auto-fit, 150px); */
        /* grid-auto-rows: 150px; */
        gap: 2em;
        padding: 2em 6em;
    }

    .upload-img {
        padding: 0.5em 6em;
    }

    .img-size img {
        height: 20px;
        width: 20px;
    }
}